body{
    margin: 0%;
    padding: 0%;
    background-color: burlywood;
}

.natsito {
    margin-top: 5%;
    margin-left: 35%;
    width: 30%;
    height: 500px;
    background-color: whitesmoke;
}
img{
    width: 100%;

}
h1{
    text-align: center;
}
h2{
    text-align: center;
}


@media (max-width: 700px) {
    .natsito{
        width: 100%;
        text-align: center;
        margin: 20% 0 0 0;
    }
}
